* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.d1{
    shape-outside: polygon(88% 15%, 100% 32%, 100% 3%, 50% 50%, 75% 30%, 100% 0%, 20% 20%);
    position: absolute;
}
.di1{
    /* -webkit-clip-path: polygon(88% 15%, 100% 32%, 100% 3%, 50% 50%, 75% 30%, 100% 0%, 20% 20%); */
    clip-path: polygon(78% 15%, 75% 35%, 51% 43%, 52% 6%);
    /* shape-outside: polygon(88% 15%, 100% 32%, 100% 3%, 50% 50%, 75% 30%, 100% 0%, 20% 20%); */

}
/* .di1:after {
    clip-path: polygon(88% 15%, 68% 0, 100% 0);

} */
.di2{
    clip-path: polygon(25% 15%, 28.5% 37%, 51% 43%, 52% 6%)
    /* shape-outside: polygon(88% 15%, 100% 32%, 100% 3%, 50% 50%, 75% 30%, 100% 0%, 20% 20%); */
    
}
.d2{
    /* margin-right: -50px; */
    z-index: 2;
    position: absolute;


}
.i1{
    position: relative;

}
.d3{
    /* margin-right: -50px; */
    /* top: -40px; */
    z-index: 3;
    position: absolute;


}
.di3{
    clip-path: polygon(28.5% 37%, 40% 48%, 51% 43%)

}
.di4{
    clip-path: polygon(75% 35%, 64% 48%, 51% 43%);

}
.d4{
    z-index: 4;
    position: absolute;
}
.di5{
    clip-path: polygon(64% 37%, 51% 32%, 52% 48%);

}
.di6{
    clip-path: polygon(40% 37%, 51% 32%, 52% 48%);

}
.d5{
    z-index: 5;
    position: absolute;
    padding-top: 2%;
}
.d6{
    z-index: 6;
    position: absolute;
    padding-top: 2%;
}
.prototype{
    background-color: rgb(131, 29, 29);
}
.d7{
    z-index: 7;
    position: absolute;

}
.di7{
    clip-path: polygon(51% 6%, 65% 11%, 73% 0%);

}
.d8{
    z-index: 8;
    position: absolute;

}
.di8{
    clip-path: polygon(52% 6%, 39% 11%, 31% 0%);
    
}
.d9{
    z-index: 9;
    position: absolute;

}
.di9{
    clip-path: polygon(78% 15%, 68% 5%, 72% 1%);
    
}
.d10{
    z-index: 9;
    position: absolute;

}
.di10{
    clip-path: polygon(78% 15%, 65% 11%, 68% 5%);
    
}
.d11{
    z-index: 9;
    position: absolute;

}
.di11{
    clip-path: polygon(25% 15%, 37% 5%, 32% 1%);
    
}
.d12{
    z-index: 9;
    position: absolute;

}
.di12{
    clip-path: polygon(25% 15%, 39% 11%, 37% 5%);
    
}
.d13{
    z-index: 9;
    position: absolute;

}
.di13{
    clip-path: polygon(29% 37%, 25% 15%, 15% 38%);
    
}
.d14{
    z-index: 9;
    position: absolute;

}
.di14{
    clip-path: polygon(29% 37%, 47% 66%, 15% 38%);
    
}
.d15{
    z-index: 9;
    position: absolute;

}
.di15{
    clip-path: polygon(29% 37%, 53% 58%, 45% 67%);
    
}
.d16{
    z-index: 9;
    position: absolute;

}
.di16{
    clip-path: polygon(78% 15%, 74% 36%, 88% 37%);
    
}
.d17{
    z-index: 9;
    position: absolute;

}
.di17{
    clip-path: polygon(57% 62%, 74% 36%, 88% 37%);
    
}
.d18{
    z-index: 9;
    position: absolute;

}
.di18{
    clip-path: polygon(60% 67%, 74% 36%, 53% 58%);
    
}
.d19{
    z-index: 9;
    position: absolute;

}
.di19{
    clip-path: polygon(45% 67%, 60% 67%, 53% 58%);

}
.d20{
    z-index: 9;
    position: absolute;

}
.di20{
    clip-path: polygon(53% 67%, 57% 67%, 53% 73%);

}
.d21{
    z-index: 9;
    position: absolute;

}
.di21{
    clip-path: polygon(48% 67%, 53% 67%, 53% 73%);

}
.i2{
    position: relative;
    padding-top: 17%;

}
.m1{
    z-index: 2;
    position: absolute;

}
.mi1{
    clip-path: polygon(73% 21%, 76% 53%, 52% 67%, 52% 14%);

}
.m2{
    z-index: 2;
    position: absolute;

}
.mi2{
    clip-path: polygon(30% 21%, 26% 53%, 52% 67%, 52% 14%);

}
.m3{
    z-index: 3;
    position: absolute;

}
.mi3{
    clip-path: polygon(30% 21%, 26% 5%, 36% 4%, 41% 11%, 52% 14%);

}
.m4{
    z-index: 3;
    position: absolute;

}
.mi4{
    clip-path: polygon(73% 21%, 81% 5%, 72% 4%, 66% 11%, 52% 14%);

}
.m5{
    z-index: 4;
    position: absolute;

}
.mi5{
    clip-path: polygon(58% 39%, 56% 32%, 69% 32%);

}
.m6{
    z-index: 5;
    position: absolute;

}
.mi6{
    clip-path: polygon(45% 39%, 47% 32%, 33% 32%);

}
.m7{
    z-index: 6;
    position: absolute;

}
.mi7{
    clip-path: polygon(56% 32%, 66% 46%, 63% 56%, 52% 67%, 40% 56%, 37% 46%, 47% 32%);

}
.m8{
    z-index: 7;
    position: absolute;

}
.mi8{
    clip-path: polygon(52% 32%, 42% 46%, 61% 46%);

}
.m9{
    z-index: 8;
    position: absolute;

}
.mi9{
    clip-path: polygon(42% 46%, 61% 46%, 52% 55%);

}
.m10{
    z-index: 9;
    position: absolute;

}
.mi10{
    clip-path: polygon(30% 21%, 23% 55%, 26% 53%);

}
.m11{
    z-index: 10;
    position: absolute;

}
.mi11{
    clip-path: polygon(52% 67%, 24% 51%, 23% 55%);

}
.m12{
    z-index: 9;
    position: absolute;

}
.mi12{
    clip-path: polygon(52% 67%, 76% 51%, 78% 55%);

}
.m13{
    z-index: 9;
    position: absolute;

}
.mi13{
    clip-path: polygon(73% 21%, 78% 55%, 75% 51%);

}
.i3{
    position: relative;
    padding-left: 35%;

}
.p1{
    z-index: 2;
    position: absolute;

}
.pi1{
    clip-path: polygon(50% 21%, 53% 21%, 77% 35%, 83% 55%, 77% 47%, 50% 47%);

}
.p2{
    z-index: 3;
    position: absolute;

}
.pi2{
    clip-path: polygon(50% 21%, 47% 21%, 26% 35%, 21% 53%, 25% 47%, 50% 47%);

}
.p3{
    z-index: 4;
    position: absolute;

}
.pi3{
    clip-path: polygon(53% 21%, 65% 28%, 74% 11%);

}
.p4{
    z-index: 5;
    position: absolute;

}
.pi4{
    clip-path: polygon(47% 21%, 35% 29%, 26% 11%);

}
.p5{
    z-index: 6;
    position: absolute;

}
.pi5{
    clip-path: polygon(66% 29%, 71% 18%, 77% 35%);

}
.p6{
    z-index: 7;
    position: absolute;

}
.pi6{
    clip-path: polygon(35% 29%, 26% 35%, 29% 17%);

}
.p7{
    z-index: 8;
    position: absolute;

}
.pi7{
    clip-path: polygon(50% 47%, 77% 47%, 64% 55%);

}
.p8{
    z-index: 9;
    position: absolute;

}
.pi8{
    clip-path: polygon(50% 47%, 25% 47%, 39% 55%);

}
.p9{
    z-index: 9;
    position: absolute;

}
.pi9{
    clip-path: polygon(28% 62%, 25% 47%, 39% 55%);

}
.p10{
    z-index: 9;
    position: absolute;

}
.pi10{
    clip-path: polygon(76% 62%, 77% 47%, 64% 55%);

}
.p11{
    z-index: 10;
    position: absolute;

}
.pi11{
    clip-path: polygon(76% 62%, 65% 60%, 50% 47%);

}
.p12{
    z-index: 9;
    position: absolute;

}
.pi12{
    clip-path: polygon(28% 62%, 37% 60%, 50% 47%);

}
.p13{
    z-index: 10;
    position: absolute;

}
.pi13{
    clip-path: polygon(65% 60%, 37% 60%, 50% 47%);

}
.p14{
    z-index: 9;
    position: absolute;

}
.pi14{
    clip-path: polygon(37% 60%, 65% 60%, 50% 70%);

}
.p15{
    z-index: 10;
    position: absolute;

}
.pi15{
    clip-path: polygon(76% 62%, 65% 60%, 50% 70%, 68% 76%);

}
.p16{
    z-index: 9;
    position: absolute;

}
.pi16{
    clip-path: polygon(28% 62%, 37% 60%, 50% 70%, 34% 76%);

}
.p17{
    z-index: 9;
    position: absolute;

}
.pi17{
    clip-path: polygon(34% 76%, 50% 70%, 68% 76%, 59% 84%, 42% 84%);

}
.p18{
    z-index: 9;
    position: absolute;

}
.pi18{
    clip-path: polygon(77% 47%, 76% 62%, 84% 60%);

}
.p19{
    z-index: 9;
    position: absolute;

}
.pi19{
    clip-path: polygon(68% 76%, 76% 62%, 87% 60%);

}
.p20{
    z-index: 9;
    position: absolute;

}
.pi20{
    clip-path: polygon(77% 47%, 76% 62%, 88% 60%);

}
.p21{
    z-index: 9;
    position: absolute;

}
.pi21{
    clip-path: polygon(25% 47%, 15% 60%, 34% 76%);

}  
.i4{
    position: relative;
    padding-top: 5%;
    padding-left: 35%;

}  
.s1{
    z-index: 2;
    position: absolute;

}
.si1{
    clip-path: circle(25px at 65% 50%);

}
.s2{
    z-index: 3;
    position: absolute;

}
.si2{
    clip-path: circle(25px at 35% 50%);

}
.s3{
    z-index: 2;
    position: absolute;

}
.si3{
    clip-path: circle(30px at 65% 50%);

}
.s4{
    z-index: 3;
    position: absolute;

}
.si4{
    clip-path: circle(30px at 35% 50%);

}
